@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
:root {
        --root-foreground: #ffffffde;
        --root-background: #242424;
        --surface: #3b3541;
        --foreground: var(--root-foreground);
        --background: var(--root-background)
}
body, 
html {
        color-scheme: dark;
        background-color: var(--background);
        padding: 0;
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
}
a {
        color: inherit;
        text-decoration: none;
}
* {
        box-sizing: border-box;
}
main {
        width: 800px;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        align-content: center;
        row-gap: 10px;
}
.mainWrapper {
        display: flex;
        justify-items: center;
        height: 100%;
}
::selection {
        background-color:var(--foreground);
        color:var(--background)
      }