.title {
        background-color: var(--foreground);
        color: var(--background);
        position: relative;
        padding: 3px 8px;
        user-select: none;
        transition: transform .17s ease-in-out,opacity .22s ease-in-out;
        opacity: 1;
        font-family: Golos Text, sans-serif;
        margin: 0 21.44px 0 21.44px;
        max-width: 97vmin;
}
.backtrackTitle:hover {
        opacity: .7;
}
.socialLinks {
        font-size: 24px;
        position: relative;
        transition: color 50ms ease-in-out;
        cursor: pointer;
        margin-right: 12px;
        padding: 2px 8px;
        z-index: 1;
        user-select: none;
}
.socialLinks:hover{
        color: var(--background);
}
.bg {
        background-color: transparent;
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: -1;
        border: 2px solid transparent;
        transition: all .12s ease-in-out,border 60ms ease-in-out;
        pointer-events: none;
}
.socialLinks:hover > .bg,
.socialLinks:focus > .bg {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--foreground);
        border-color:var(--foreground)
}