.subMainWrapper {
  width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  transform: translateY(50%);
  margin-top: -45px /* title is height of 39px plus 6px padding (3px top and 3px bottom) */
}
.title {
  background-color: var(--foreground);
  color: var(--background);
  position: relative;
  padding: 3px 8px;
  user-select: none;
  transition: transform .17s ease-in-out,opacity .22s ease-in-out;
  opacity: 1;
  font-family: Golos Text, sans-serif;
  margin: 0;
}
.backtrackTitle:hover {
  opacity: .7;
}
.bg {
  background-color: transparent;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  border: 2px solid transparent;
  transition: all .12s ease-in-out,border 60ms ease-in-out;
  pointer-events: none;
}
.buttonGroup {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  margin: 1rem 0.5rem 0 0.5rem;
}
.bigLink {
  overflow: hidden;
  padding: 8px 12px;

  font-size:24px;
  margin-bottom:12px;
  position:relative;
  z-index:1;
  transition:color 50ms ease-in-out;
  cursor:pointer;
}
.bigLink:hover {
  color: var(--background)
}
.bigLinkBackground {
  position:absolute;
  top:-4px;
  left:-4px;
  right:-4px;
  bottom:-4px;
  z-index:-1;
  border:2px solid transparent;
  transition:all .12s ease-in-out,border 60ms ease-in-out;
  pointer-events:none;
  background-color: #777;
}
.bigLink:hover .bigLinkBackground {
  background-color: var(--foreground);
}